html, body {
    min-height: 100%;
    
    font-family: Arial,Helvetica,'Hiragino Sans GB','Microsoft YaHei',sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    color: #4A4A4A ;
}
body{
	width:7.5rem;	
	overflow-x:hidden;
	position:relative;
}
.clearfix:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
ul,li.ol,dl,dd{
    list-style: none;
    padding: 0;
    margin: 0;
}
a:hover, a:visited, a:link, a:active{
	text-decoration: none;
	color:#4a4a4a;
}
.show{
    display: block;
}
.hide{
	display:none;
}
@font-face {
  font-family: 'iconfont';  /* project id 135369 */
  src: url('//at.alicdn.com/t/font_ilnvhmxf3c70hpvi.eot');
  src: url('//at.alicdn.com/t/font_ilnvhmxf3c70hpvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_ilnvhmxf3c70hpvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_ilnvhmxf3c70hpvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_ilnvhmxf3c70hpvi.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont";
    font-size:16px;font-style:normal;
}
.bodybg{
	background:#fff;
}
.navbar{
	width:7.5rem;
	height:0.9rem;
	text-align: center;
	background:#373736;
	position: relative;
	min-height:0;
	margin-bottom:0;
	border:none;
	left:0;
	top:0;
	-webkit-transition: left 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: left 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: left 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: left 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: left 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
.navbar.animate{
	left:5.5rem;
}
.navbar .burger{
	width:0.59rem;
	height:0.9rem;
	background:url('../img/burger.png') no-repeat;
	background-size:0.39rem 0.3rem;
	background-position: center center;
	float:left;
	margin-left:0.4rem;
}
.navbar .logo{
	display:inline-block;
	width:1.35rem;
	height:0.9rem;
	background:url('../img/nav_logo.png') no-repeat;
	background-size:1.35rem 0.44rem;
	background-position: center center; 
}
.navbar .search{
	float:right;
	width:0.5rem;
	height:0.9rem;
	background:url('../img/search.png') no-repeat;
	background-size:0.3rem 0.3rem;
	margin-right:0.4rem;
	background-position: center center;
}
.navbar .search_div{
	position: absolute;
	width:7.5rem;
	height:0;
	background:rgba(0,0,0,0.8);
	left:0;
	top:0;
	z-index: 100;
	overflow:hidden;
	-webkit-transition: height 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: height 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: height 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: height 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: height 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
.navbar .search_div #seaform {
	margin-top:18px;
	width:6.18rem;
	height:40px;
	float:left;
	margin-left:0.4rem;
	background:#fff;
	padding:5px 0;
	border-radius: 6px;
}
.navbar .search_div #seaform i {
	float:left;
	width:30px;
	height:30px;
	line-height:28px;
	color:#000;
	font-size:20px;
}
.navbar .search_div #seaform input {
	float:left;
	outline: none;
	border:none;
	height:30px;
	line-height:30px;
	width:5rem;
}
.navbar .search_div .del {
	margin-top:18px;
	float:left;
	color:#fff;
	margin-left:0.15rem;
}
.navbar .search_div .del i{
	font-size:20px;
	width:30px;
	height:40px;
	line-height:40px;
}
.menu{
	width:5.5rem;
	height:13.34rem;
	background:#373736;
	box-shadow: none;
	font-size:16px;
	position: absolute;
	z-index: 2;
	left:-5.5rem;
	top:0;
	-webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
.menu.animate{
	box-shadow: 0px 0px 6px #272727;
	left:0;
}
.menu .login{
	position: relative;
	width:100%;
	height:2.8rem;
	box-shadow:-5px 0px 6px #272727;
}
.menu .login>img{
	width:1.35rem;
	height:0.44rem;
	margin-left:0.4rem;
	margin-top:0.3rem;
}
.menu .login .login_btn{
	width:2.84rem;
	height:0.72rem;
	box-sizing:border-box;
	border:1px solid #979797;
	position: absolute;
	bottom:0.58rem;
	left:1.33rem;
	border-radius: 1px;
	
}
.menu .login .login_btn a{
	display:inline-block;
	color:#fff;	
	width:100%;
	height:100%;
	text-align: center;
	line-height:0.72rem;
}
.menu .login .avatar{
	width:5.5rem;	
	position:absolute;
	height:1.7rem;
	bottom:0;
}
.menu .login .avatar .pic{
	width:1rem;
	height:1rem;
	text-align: center;
	border-radius: 100%;
	overflow: hidden;
	margin:0 auto 0.25rem;
}
.menu .login .avatar .pic img{
	width:100%;
	height:100%;
}
.menu .login .avatar .name{
	text-align: center;
	font-size:12px;
	color:#fff;
}
.menu ul li{
	width:100%;
	height:1.04rem;	
}
.menu ul li a{
	box-sizing: border-box;
	display:inline-block;
	width:100%;
	height:100%;
	padding-left:0.4rem;
	line-height:1.04rem;
	text-align: left;
	color:#fff;
}
.menu ul li.active {
	background:#2f2f30;
	box-shadow: -2px 0 4px #000;
}
.menu ul li.active a{
	color:#e9a81d;
}
.wrap{
	width:7.5rem;
	position:relative;
	left:0;
	top:0;
	-webkit-transition: left 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: left 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: left 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: left 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: left 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
.wrap1{
	width:7.5rem;
	background:#f7f7f9;
}
.wrap .door{
	display:block!important;
	width:0;
	height:15rem;
	position: absolute;
	z-index: 999;
	left:0;
	top:0;
	-webkit-transition: width 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: width 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: width 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: width 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: width 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
}
.wrap.animate{
	left:5.5rem;
}
.wrap.animate .door{
	width:7.5rem;
	display:block!important;
}
/* 首页脑洞推荐部分 */
.index_bg{
	width:7.5rem;
	height:4.28rem;
	background:url('../img/index_bg.png') no-repeat;
	background-size:7.5rem 4.28rem;
}
.featured{
	width:100%;
	position: relative;
	text-align: center;
}
.featured>img , .activity>img , .designer>img , .support>img {
	width:1.82rem;
	height:0.42rem;
	margin-top:0.36rem;
	margin-bottom:0.35rem;
}
.featured_left1{
	position:absolute;
	width:0.77rem;
	height:0.37rem;
	background:url('../img/featured_left1.png') no-repeat;
	background-size:0.77rem 0.37rem;
	left:0.30rem;
	top:1.22rem;
}
.featured_left2{
	position:absolute;
	width:0.47rem;
	height:0.54rem;
	background:url('../img/featured_left2.png') no-repeat;
	background-size:0.47rem 0.54rem;
	left:0.22rem;
	top:3.5rem;
}
.featured_left3{
	position:absolute;
	width:0.65rem;
	height:0.46rem;
	background:url('../img/featured_left3.png') no-repeat;
	background-size:0.65rem 0.46rem;
	left:0.15rem;
	bottom:1.4rem;
}
.featured_right1{
	position:absolute;
	width:0.74rem;
	height:0.46rem;
	background:url('../img/featured_right1.png') no-repeat;
	background-size:0.74rem 0.46rem;
	right:0.20rem;
	top:3.7rem;
}
.featured_right2{
	position:absolute;
	width:0.70rem;
	height:0.89rem;
	background:url('../img/featured_right2.png') no-repeat;
	background-size:0.70rem 0.89rem;
	right:0.10rem;
	bottom:0.3rem;
}
/* 页脚 */
.footer{
	width:7.5rem;
	height:60px;
	background:#373736;
	text-align: center;
	margin:0;
	padding-top:10px;
}
.footer>div{
	width:100%;
}
.footer img{
	float:left;
	height:20px;
	width:auto;
}
.footer .footer_logo1{
	margin-left:0.3rem;
	margin-right:0.4rem;
}
.footer .tab{
	float:right;
	margin-right:0.3rem;
	line-height:24px;
	color:#a6a6a6;
}
.footer .tab a{
	display:inline-block;
	height:24px;
	line-height:24px;
	font-size:12px;
	margin-left:0.22rem;
	margin-right:0.22rem;
	color:#a6a6a6;
}
.footer .tab a.active{
	color:#6f6f6f;
}
.footer .tab a:last-child{
	margin-right:0;
}
.footer span{
	display:inline-block;
	width:7.5rem;
	font-size:10px;
	line-height:10px;
	color:#6f6f6f;
	margin-top:5px;
}
/* 作品卡片 */
.cards_list{
	width:100%;
	box-sizing: border-box;
	padding: 0 0.5rem;
	position: relative;
	z-index: 2;
}
.cards_list>ul>li{
	width:6.5rem;
	border:1px solid #d8d8d8;
	height:2.58rem;
	box-sizing: border-box;
	border-radius:2px;
	margin-bottom:0.22rem;
	background:#f3f3f3;
	
	overflow:hidden;
}
.cards_list>ul>li a{
	width:100%;
	display:inline-block;
	height:100%;
}
.cards_list ul li .img_holder{
	float:left;
	width:3.4rem;
	height:2.56rem;
	border-radius: 1px;
	position: relative;
	margin-right:0.1rem;
}
.cards_list ul li .img_holder>img{
	width:100%;
	height:100%;
}
.cards_list ul li .img_holder .num{
	position: absolute;
	display:inline-block;
	width:30px;
	height:16px;
	line-height:16px;
	text-align: center;
	background:#000;
	box-sizing: border-box;
	font-size:12px;
	color:#fff;
	left:0.14rem;
	top:0.1rem;
}
.cards_list ul li .img_holder .recommend img{
	position: absolute;
	width:0.34rem;
	height:0.39rem;
	right:0.1rem;
	top:0.1rem;
}
.cards_list ul li .title{
	float:left;
	color:#4a4a4a;
	font-size:14px;
	margin-top:0.22rem;
	margin-bottom:0.6rem;
	width:2.8rem;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    font-weight: bold;
}
.cards_list ul li .name{
	float:left;
	color:#494949;
	font-size:12px;
	margin-bottom:0.36rem;
	width:2.8rem;
	text-align: left;
}
.cards_list ul li .involved{
	float:left;
	color:#888789;
	font-size:12px;
	height:18px;
	line-height:18px;
}
.cards_list ul li .involved>img{
	float:left;
	width:18px;
	height:18px;

}
.cards_list ul li .involved .none{
	line-height:18px;
	float:left;
	margin-left:0.1rem;
	height:18px;
}
.cards_list ul li .involved li{
	float:left;
	margin-right:0.1rem;
	height:18px;
	line-height:18px;
}
.cards_list ul li .involved li>img{
	height:18px;
	float:left;
}
.featured .other{
	box-sizing: border-box;
	text-align: left;
	display:inline-block;
	position: relative;
	width:1.52rem;
	height:0.4rem;
	margin:0.13rem auto 0.35rem;
	background:url('../img/other_bg.png') no-repeat;
	background-size:1.52rem 0.4rem;
	font-size:12px;
	color:#252525;
	line-height: 0.4rem;
	padding-left:0.49rem;
}
/* 首页活动推荐 */
.activity{
	width:100%;
	height:10.1rem;
	background:url('../img/activity_bg.png') no-repeat;
	background-size:7.5rem 10.1rem;
	text-align: center;
	position: relative;
}
.activity .intro{
	display:inline-block;
	text-align: center;
	width:100%;
	font-size:12px;
	color:#bababa;
}
.activity .intro:nth-of-type(2){
	margin-bottom:0.4rem;
}
.activity div{
	width:5.2rem;
	margin:0 auto;
	position: relative;
	z-index: 2;
}
.activity div img{
	width:5.2rem;
	height:2rem;
	margin-bottom:0.22rem;
}
.activity .trip{
	display:inline-block;
	width:1.52rem;
	height:0.4rem;
	background:url('../img/other_bg.png') no-repeat;
	background-size:1.52rem 0.4rem;
	margin-top:0.11rem;
}
.activity .trip a{
	display:inline-block;
	width:100%;
	height:100%;
	box-sizing: border-box;
	line-height:0.4rem;
	font-size:12px;
	color:#252525;
	padding-left:0.2rem;
}
.activity .activity_left1{
	display:inline-block;
	position: absolute;
	width:0.76rem;
	height:0.37rem;
	left:0.14rem;
	top:3.1rem;
	background:url('../img/featured_left1.png') no-repeat;
	background-size:0.76rem 0.37rem;
}
.activity .activity_left2{
	display:inline-block;
	position: absolute;
	width:0.76rem;
	height:0.37rem;
	left:0.8rem;
	top:6.1rem;
	background:url('../img/featured_left1.png') no-repeat;
	background-size:0.76rem 0.37rem;
}
.activity .activity_left3{
	display:inline-block;
	position: absolute;
	width:0.63rem;
	height:0.83rem;
	left:0.6rem;
	bottom:1.3rem;
	background:url('../img/activity_left1.png') no-repeat;
	background-size:0.63rem 0.83rem;
}
.activity .activity_right1{
	display:inline-block;
	position: absolute;
	width:0.76rem;
	height:0.37rem;
	right:0.4rem;
	top:2.1rem;
	background:url('../img/featured_left1.png') no-repeat;
	background-size:0.76rem 0.37rem;
}
.activity .activity_right2{
	z-index: 3;
	display:inline-block;
	position: absolute;
	width:1.4rem;
	height:2.27rem;
	right:0.2rem;
	bottom:0.3rem;
	background:url('../img/activity_right2.png') no-repeat;
	background-size:1.4rem 2.27rem;
}
/* 明星设计师 */
.designer{
	width:7.5rem;
	text-align: center;
}
.designer>img{
	width:2.2rem;
	height:0.42rem;
}
.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
	overflow: hidden;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}
#lista1{
	width:100%;
	height:3.4rem;
	margin:0 auto 0.5rem;
}
.d_comments{
	width:100%;
	padding-top:0.65rem;
	overflow:hidden;
	height:3.4rem!important;
}
.d_comments li{
	float:left;
	height:2.75rem;
	width:7.5rem;
	position: relative;	
	padding:0 0.5rem;	
	background:#fff;
}
.d_comments li .als_div{
	border:1px solid #ddd;
	border-radius: 10px;
	position: relative;
	padding-top:0.75rem;
	z-index: 2;
	height:2.75rem;
	background:#fff;
}
.d_comments li .avatar{
	position: absolute;
	width:1.33rem;
	height:1.3rem;
	left:50%;
	margin-left:-0.665rem;
	top:-0.65rem;
	z-index: 3;
}
.d_comments li p {
	width:1rem;
	height:1rem;
	border-radius: 100%;
	overflow:hidden;
	position: absolute;
	left:50%;
	margin-left:-0.5rem;
	top:-0.5rem;
	margin-bottom:0;
}
.d_comments li p img{
	width:100%;
}
.d_comments li .name{
	font-size:14px;
	color:#f9c100;
	margin-top:0.1rem;
	margin-bottom:0.1rem;
}
.d_comments li .company{
	margin:0 auto;
	width:4.5rem;
	font-size:12px;
	color:#4a4a4a;
}
.d_comments li .position{
	font-size:10px;
	color:#888789;
	margin-top:0.1rem;
}
.als-prev , .als-next {
    position: absolute;
    cursor: pointer;
    clear: both;
    display:inline-block;
    width:0.18rem;
    height:0.31rem;
    top:50%;
    z-index: 1;
    margin-top:0.15rem;
    
}
.als-prev img, .als-next img{
	width:100%;
}
.als-prev {
	left:0.15rem;
}
.als-next {
	right:0.15rem;
}
/* 活动支持 */
.support_bg{
	width:7.5rem;
	height:0.4rem;
	background:url('../img/support_bg.png') no-repeat;
	background-size:7.5rem 0.4rem;
}
.support {
	width:7.5rem;
	background:#f6f6f6;
	text-align: center;
	padding-bottom:0.5rem;
}
.support>img{
	margin-top:0;
}
.support .intro{
	margin-bottom:0.3rem;
}
.support .intro span{
	display:inline-block;
	width:7.5rem;
	font-size:12px;
	color:#bababa;
}
.support .des,.support .edu,.support .soc{
	width:6.5rem;
	margin:0.1rem auto 0;
	text-align: center;
}
.support .des .title,.support .edu .title,.support .soc .title{
	font-size:14px;
	color:#616161;
	margin-bottom:0.4rem;
}
.des li,.edu li,.soc li{
	float:left;
	width:1.02rem;
	height:0.29rem;
	margin-right:0.35rem;
	margin-bottom:0.3rem;
}
.des li:nth-child(5n),.edu li:nth-child(5n),.soc li:nth-child(5n){
	margin-right:0;	
}
.support  li img{
	width:100%;
	height:100%;
	float:left;
}

/* 小发明页面轮播图 */
.inventions_swiper{
	width:7.5rem;
	height:2.62rem!important;
	overflow:hidden;
}
.inventions_swiper a{
	display:inline-block;
	width:7.5rem;
	height:2.62rem!important;
	float:left;
}
.inventions_swiper .swiper-slide img{
	width:7.5rem;
	height:2.62rem;
}
.swiper-container-horizontal>.swiper-pagination{
	background: none;
    transition: all 0.4s ease-in-out;
    width:120px;
    height:12px;
    line-height:12px;
    left:50%;
    margin-left:-60px;
    bottom:0.1rem;
    text-align: center;
}
.inventions_swiper .swiper-pagination-bullet {
	background: rgba(0,0,0,0.2);
    display:inline-block;
    width:6px;
    height:6px;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}
.inventions_swiper .swiper-pagination-bullet-active {
    background: rgba(0,0,0,0.4);
}
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
	margin:3px 3px;
}
/* 小发明页面作品分类列表 */
.cate {
	margin:0.3rem auto;
	width:193px;
	height:20px;
}
.cate li{
	float:left;
	height:20px;
	margin-right:28px;
}
.cate li:last-child{
	margin-right:0;
}
.cate li a {
	display:inline-block;
	width:100%;
	height:20px;
}
.cate li p{
	float:left;
	height:20px;
	line-height:20px;
	font-size:14px;
	margin-left:3px;
	margin-bottom:0;
}
.cate li.active p{
	color:#f8c013;
}
.cate .shixian span{
	float:left;
	width:15px;
	height:20px;
	background:url('../img/shixian.png') no-repeat;
	background-size:15px 20px;
}
.cate .shixian.active span{
	background:url('../img/shixian1.png') no-repeat;
	background-size:15px 20px;
}
.cate .tuijian span{
	float:left;
	width:17px;
	height:20px;
	background:url('../img/tuijian.png') no-repeat;
	background-size:17px 20px;
}
.cate .tuijian.active span{
	background:url('../img/recommend.png') no-repeat;
	background-size:15px 20px;
}
.cate .zuixin span{
	float:left;
	width:12px;
	height:20px;
	background:url('../img/zuixin.png') no-repeat;
	background-size:12px 20px;
}
.cate .zuixin.active span{
	background:url('../img/zuixin1.png') no-repeat;
	background-size:12px 20px;
}
.more_inventions {	
	width:1.7rem;
	padding-top:0.18rem;
	padding-bottom:0.4rem;
	text-align: center;
	margin:0 auto;
}
.more_inventions span{
	display:inline-block;
	width:1.7rem;
	height:0.5rem;
	line-height:0.5rem;
	text-align: center;
	font-size:12px;
	border:1px solid #aaa9aa;
	color:#888789;
	border-radius: 0.36rem;
}
/* 作品详情页面 */
.painting{
	width:100%;
	background:#fff;
	height:3.5rem;
	position: relative;
	text-align: center;
	margin-bottom:0.8rem;
}
.painting img{
	height:3.5rem;
}
.painting .num{
	position: absolute;
	display:inline-block;
	width:32px;
	height:18px;
	line-height:18px;
	text-align: center;
	background:#000;
	border-radius: 1px;
	box-sizing: border-box;
	font-size:10px;
	color:#fff;
	left:0.6rem;
	top:0.25rem;
}
.painting .recommend{
	position: absolute;
	display:inline-block;
	width:0.56rem;
	height:0.63rem;
	background:url('../img/recommend-1.png') no-repeat;
	background-size:0.56rem 0.63rem;
	right:0.6rem;
	top:0.2rem;
}
.painting_author{
	height:2.5rem;
	width:100%;
	background:#fff;
	position: relative;
	border-bottom:1px #979797 dotted;
}
.painting_author>img{
	position:absolute;
	width:2.78rem;
	height:2.78rem;
	left:0.25rem;
	top:-0.5rem;
}
.painting_author .work{
	width:3.7rem;
	position:absolute;
	font-size:14px;
	line-height:20px;
	right:0.4rem;
	top:0.4rem;
	margin-bottom:0;
}
.painting_author .author{
	position:absolute;
	width:3.7rem;
	color:#4b4b4b;
	height:14px;
	line-height:14px;
	right:0.4rem;
	bottom:0.4rem;
}
.painting_author .author .name{
	font-size:12px;
	float:left;
	margin-bottom:0;
}
.painting_author .author .cate{
	float:right;
	line-height:14px;
	height:14px;
	font-size:12px;
	margin:0;
	width:45px;
}
.painting_author .author .cate span{
	float:left;
	margin-left:2px;
}
.painting_author .author .cate img{
	height:14px;
	float:left;
}
.painting_join {
	height:1rem;
	padding:0.3rem 0.5rem;
	background:#fff;
	border-bottom:1px #979797 dotted;
}
.painting_join span{
	height:0.4rem;
	line-height:0.4rem;
	color:#888789;
	font-size:14px;
}
.painting_join p{
	float:right;
	height:0.4rem;
	margin-bottom:0;
}
.painting_join p img{
	float:left;
	height:0.4rem;
	margin-left:0.4rem;
}
.painting_details{
	width:100%;
	padding:0.3rem 0.5rem;
	background:#fff;
	margin-bottom:0.3rem;
}
.painting_details span{
	font-size:14px!important;
}
.painting_details img{
	width:100%!important;
	height:auto!important;
}
.painting_details ul,.painting_details ol{
	padding-left:0.6rem;
	margin-bottom:0;
}
.painting_details ul p,.painting_details ol p{
	margin-bottom:0;
}
.painting_more{
	background:#fff;
	width:100%;
	padding-bottom:50px;
}
.painting_more>p{
	height:0.9rem;
	padding:0.25rem 0.5rem;
	line-height:0.4rem;
	font-size:14px;
	margin-bottom:0;
}
.details_footer{
	height:50px;
	padding:0 0.5rem;
	background:#f9f9fa;
	position:fixed;
	bottom:0;
	width:7.5rem;
	z-index: 10;
	border-top:1px solid #d8d8d8;
}
.footer_comment{
	float:left;
}
.footer_comment a{
	display:inline-block;
	width:100%;
	height:100%;
}
.footer_comment input{
	float:left;
	width:2.4rem;
	height:30px;
	outline:none;
	border:2px solid #d3d3d3;
	border-radius: 2px;
	margin-top:10px;
	font-size: 12px;
	line-height:26px;
	padding-left:0.1rem;
	background:none;
}
.details_tab{
	float:right;
	display:flex;
	justify-content: space-between;
	width:3.6rem;
}
.footer_commenticon {
	margin-top:10px;
	height:30px;
	width:30px;
	position: relative;
}
.footer_commenticon .icon{
	float:left;
	height:30px;
	width:30px;
	background:url('../img/comment.png') no-repeat;
	background-size:25px 25px;
	background-position: center center;
}
.footer_commenticon a{
	display:inline-block;
	width:100%;
	height:100%;
}
.footer_commenticon .num{
	display:inline-block;
	position: absolute;
	width:20px;
	height:20px;
	bottom:-5px;
	right:-5px;	
	border-radius: 100%;
	border:2px solid #d3d3d3;
	background:#d0d0d0;
	line-height:16px;
	text-align: center;
	color:#fff;
	z-index: 2;
}
.details_footer .like{
	position: relative;
	margin-top:10px;
	width:30px;
	height:30px;
	background:url('../img/like.png') no-repeat;
	background-size:25px 25px;
	background-position: center center;
}
.details_footer .like.active{
	background:url('../img/liked.png') no-repeat;
	background-size:25px 25px;
	background-position: center center;
}
.details_footer .like .num{
	display:inline-block;
	position: absolute;
	width:20px;
	height:20px;
	bottom:-5px;
	right:-5px;	
	border-radius: 100%;
	border:2px solid #f9f9fa;
	background:#d0d0d0;
	line-height:16px;
	text-align: center;
	color:#fff;
	z-index: 2;
}
.details_footer .like.active .num{
	background:#e9a81d;
}
.details_footer .share{
	position: relative;
	margin-top:10px;	
}
.details_footer .share .share_tab{
	float:left;
	width:30px;
	height:30px;
	background:url('../img/share.png') no-repeat;
	background-size:25px 25px;
	background-position: center center;
}
.details_footer .share_div{
	position:absolute;
	width:7.5rem;
	bottom:0;
	left:0;
	z-index: 30;
	display:none;
	background:rgba(0,0,0,0.7);
}
.details_footer .share_div .tab{
	width:100%;
	padding:0 0.5rem;
	height:100px;
	display:flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	bottom:40px;
	background:#fff;
}
.details_footer .share_div .del{
	width:100%;
	padding:0 0.5rem;	
	position: absolute;
	bottom:0;
	background:#fff;
}
.details_footer .share_div .del span{
	border-top:1px solid #d8d8d8;
	display:inline-block;
	width:100%;
	height:40px;
	line-height:40px;
	text-align: center;
}
/* 足迹页面 */
.map{
	width:7.5rem;
	position: relative;
}
.map .title{
	width:3.69rem;
	height:0.75rem;
	padding:0.25rem 0;
	background:url('../img/map_title.png') no-repeat;
	background-size:3.69rem 0.25rem;
	background-position: center center;
	margin:0 auto;
}
.map .map_img{
	width:6.49rem;
	height:5.13rem;
	margin:0 auto;
	background:url('../img/map.png') no-repeat;
	background-size:6.49rem 5.13rem
}
.map span{
	display:inline-block;
	position: absolute;
}
.map .map_left1{
	width:0.49rem;
	height:0.6rem;
	background:url('../img/map_left1.png') no-repeat;
	background-size:0.49rem 0.6rem;
	left:0.7rem;
	top:0.9rem;
}
.map .map_left2{
	width:0.52rem;
	height:0.4rem;
	background:url('../img/map_left2.png') no-repeat;
	background-size:0.52rem 0.4rem;
	left:0;
	top:1.7rem;
}
.map .map_left3{
	width:0.58rem;
	height:0.8rem;
	background:url('../img/map_left3.png') no-repeat;
	background-size:0.58rem 0.8rem;
	left:0.5rem;
	top:3.9rem;
}
.map .map_right1{
	width:0.48rem;
	height:0.79rem;
	background:url('../img/map_right1.png') no-repeat;
	background-size:0.48rem 0.79rem;
	right:0rem;
	top:1.2rem;
}
.map .map_right2{
	width:0.91rem;
	height:0.64rem;
	background:url('../img/map_right2.png') no-repeat;
	background-size:0.91rem 0.64rem;
	right:0.1rem;
	top:3.8rem;
}
.announce,.news,.about{
	width:6.5rem;
	margin:0 auto;
}
.announce .title,.news .title,.about .title{
	text-align: center;
	padding:0.4rem 0;
	margin:0 auto;
}
.announce .title img,.news .title img,.about .title img{
	width:1.84rem;
}
.announce>img{
	width:100%;
	margin-bottom:0.25rem;
}
.announce>img:last-child{
	margin-bottom:0;
}
.news .newsList{
	width:100%;
}
.news .newsList ul li{
	width:100%;
	border:1px solid #d8d8d8;
	position: relative;
	margin-bottom:0.22rem;
	display:flex;
	align-items: center;
}
.news .newsList ul li:last-child{
	margin-bottom:0;
}
.news .newsList ul li a{
	float:left;
	width:100%;
	height:100%;
	display:flex;
	align-items: center;
}
.news .newsList ul li a>img{
	height:1.75rem;
	width:2.63rem;
	margin-right:0.27rem;
	float:left;
}
.news .newsList ul li>img{
	height:1.75rem;
	width:2.63rem;
	margin-right:0.27rem;
	float:left;
}
.news .newsList ul li span{
	float:left;
	font-size:12px;
	color:#4a4a4a;
	width:3.5rem;
	line-height:16px;
}
.news .newsList ul li .work_cate{
	position: absolute;
	left:2.9rem;
	top:0.11rem;
}
.news .newsList ul li .work_cate img{
	height:0.36rem;
}
.news .newsList ul li .time{
	position:absolute;
	bottom:0;
	left:2.9rem;
	width:2rem;
	overflow:hidden;
	height:18px;
}
.news .more{	
    text-align: center;
    padding:0.4rem 0 0.6rem;    
}
.news .more a{
	color: #888789;
}
.news .more span{	
	width: 1.7rem;
	height: 0.5rem;
	line-height: 0.5rem;	
    border: 1px solid #aaa9aa;
    border-radius: 0.36rem;
    display: inline-block;    
    text-align: center;
    font-size: 12px;    
    color: #888789;    
}
.about .aboutList ul li{
	width:6.5rem;
	border:1px solid #d8d8d8;
	padding:0.2rem 0.2rem 0;
	margin-bottom:0.2rem;
}
.about .aboutList ul li a{
	display:inline-block;
	width:100%;
	height:100%;
}
.about .aboutList ul li img{
	float:left;
	width:100%;
}
.about .aboutList ul li .name {
	float:left;
	font-size:12px;
	color:#4a4a4a;
	line-height:18px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width:100%;
    margin:0.1rem 0;
}
.about .aboutList ul li p{
	margin-bottom:0.1rem;
	height:18px;
	line-height:18px;
	float:left;
	font-size:12px;
}
.about .aboutList ul li p span{
	float:left;
	color:#888689;
}
.about .aboutList ul li p .clock{
	display:inline-block;
	width:18px;
	height:18px;
	margin-right:0.1rem;
	background:url('../img/clock.png') no-repeat;
	background-size:16px 16px;
	background-position: center center;
}
.about .more {
	text-align: center;   
    padding-top:0.2rem;
    padding-bottom: 0.4rem;   
}
.about .more span{
	display:inline-block;
	width: 1.7rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    font-size:12px;
    color:#888789;
    border: 1px solid #aaa9aa;
    border-radius: 0.36rem;
}
.returnTop{
	width:1rem;
	height:1rem;
	background:url('../img/top.png') no-repeat;
	background-size:0.8rem 0.8rem;
	background-position:right bottom;
	position:fixed;
	bottom:1.5rem;
	z-index: 9;
	right:0;
	opacity: 0;
	-webkit-transition: opacity 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: opacity 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: opacity 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: opacity 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: opacity 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
/* 新闻详情 */
.news_banner{
	width:7.5rem;
}
.news_banner img{
	width:100%;
	height:auto;
}
.news_content {
	width:7rem;
	margin:0 auto;
	border:1px solid #d8d8d8;
	border-radius: 5px;
	position:relative;
	top:-0.4rem;
	background:#fff;
	padding:0.25rem;
}
.news_content .title {
	border-bottom:1px #d8d8d8 dotted;
	font-size:14px;
	font-weight:bolder;
	color:#000;
	line-height:18px;
	padding-bottom:0.1rem;
	margin-bottom:10px;
}
.news_content .title p{
	margin-bottom:0.1rem;
}
.news_content .title span{
	color:#888789;
	font-size:12px;
}
.news_content .content img{
	width:100%!important;
	height:auto!important;
}
.news_content .content ul,.news_content .content ol{
	padding-left:0.4rem;
	margin-bottom:0;
}
.news_content .content video{
	width:7.5rem!important;
	height:auto!important;
}
/* 活动简介页 */
.introduction .banner1{
	width:7.5rem;
	height:4.93rem;
	background:url('../img/banner1.png') no-repeat;
	background-size:7.5rem 4.53rem;
	padding-top:0.4rem;
	background-position: center bottom;
}
.introduction .banner2{
	width:7.5rem;
	height:9.33rem;
	background:url('../img/banner2.png') no-repeat;
	background-size:7.5rem 9.33rem;
	margin-top:0.25rem;
}
.introduction .banner3{
	width:7.5rem;
	height:6.37rem;
	background:url('../img/banner3.png') no-repeat;
	background-size:6.85rem 6.37rem;
	background-position: center center;
	margin-top:0.4rem;
}
.introduction .banner4{
	width:7.5rem;
	height:2.11rem;
	background:url('../img/banner4.png') no-repeat;
	background-size:6.5rem 2.11rem;
	background-position: center center;
	margin-top:0.4rem;
}
.introduction .banner5{
	width:7.5rem;
	height:0.22rem;
	background:url('../img/banner5.png') no-repeat;
	background-size:4.85rem 0.22rem;
	background-position: center center;
	margin-top:0.4rem;
}
.introduction .more{
	width:1.52rem;
	font-size:12px;
	color:#000;
	height:0.4rem;
	background:url('../img/other_bg.png') no-repeat;
	background-size:1.52rem 0.4rem;
	margin:0.4rem auto;
	text-align: center;
	line-height:0.4rem;
	padding-left:0.2rem;
}
/* 搜索页面 */
.searchDiv .search_title {
	margin:0.4rem auto;
	text-align: center;
	font-size:16px;
	line-height:20px;	
}
.searchDiv .search_title span{
	color:#aaa9aa;
}
.searchDiv .search_none{
	font-size:14px;
	color:#aaa9aa;
	line-height:20px;
	margin:0.8rem auto 0.6rem;
	text-align: center;
}
/* 评论页面 */
.comment .title{
	padding:0.4rem 0;
	text-align:center;
	font-size:16px;
	line-height:20px;
	color:#323232;
	letter-spacing: 5px;
	border-bottom:1px solid #d8d8d8;
}
.comment .reply_content{
	position: fixed;
	bottom:0;
	width:100%;
	padding:5px 0.3rem;
	border-top:1px solid #d8d8d8;
	background:#fff;
	z-index: 29;
}
.comment .reply_content textarea{
	width:100%;
	font-size: 12px;
	height:30px;
	line-height:24px;
	padding:3px 0 3px 0.3rem;
	outline: none;
	border-radius: 15px;
	overflow-y: hidden;
	border:1px solid #d8d8d8;
	float:left;
}
.comment .reply_content .sub_comment{
	width:40px;
	height:20px;
	line-height:20px;
	float:right;
	margin-top:0.2rem;
	background:#e9a81d;
	color:#fff;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0.05rem;
	display:none;
}
.comment .hide_bg{
	width:7.5rem;
	background:rgba(0,0,0,0.6);
	height:0;
	position:fixed;
	left:0;
	bottom:0;
	z-index: 29;
}
.comment .reply_content textarea.focus{
	height:80px;
	border-radius: 0;
	padding:3px 0.2rem 3px 0.2rem;
	overflow-y:scroll;
}
.comment .reply_content .login_text{
	height:30px;
	line-height:24px;
	padding:3px 0.2rem 3px 0.2rem;
	font-size:12px;
	text-align: center;
}
.comment .reply_content .login_text a{
	text-decoration:underline;
	color:#e9a81d;
	margin:0 5px;
}
.comment ul{
	padding-bottom:40px;
}
.comment li.comment_item{
	width:6.5rem;
	margin:0.5rem auto 0.5rem;
	border-bottom:1px dotted #d8d8d8;
	padding-bottom:0.4rem;
}
.comment .comment_item .people .avatar{
	float:left;
	width:40px;
	height:40px;
	margin-right:0.3rem;
}
.comment .comment_item .people .name{
	float:left;
	width:70%;
	height:20px;
	line-height:20px;
	font-size:14px;
	color:#4a4a4a;
	margin-bottom:6px;
}
.comment .comment_item .people .time{
	float:left;
	width:70%;
	font-size:12px;
	color:#bdbaba;
	line-height:14px;
	height:14px;
}
.comment .comment_item .voice{
	margin-top:0.3rem;
}
.comment .comment_item .voice p{
	text-align: justify;
	font-size:14px;
	margin-bottom:5px;
}
.comment .comment_item .voice p span{
	color:#888789;
}
.comment .comment_item .voice .reply{
	float:left;
	height:18px;
	line-height:18px;
	font-size:12px;
	color:#bdbaba;
}
.comment .comment_item .voice .reply i{
	float:left;
	font-size:14px;
	margin-right:2px;
	margin-top:1px;
	height:17px;
}
.comment .comment_item .voice .reply span{
	float:left;
}
.comment .comment_item .voice form{
	position: fixed;
	bottom:0;
	z-index: 30;
	width:7.5rem;
	padding:5px 0.3rem;
	left:0;
	background:#fff;
	display:none;
}
.comment .comment_item .voice form textarea{
	width:100%;
	font-size: 12px;
	height:80px;
	line-height:20px;
	padding:3px 0.2rem 3px 0.2rem;
	outline: none;
	border:1px solid #d8d8d8;
	float:left;
}
.comment .comment_item .voice form .sub_reply{
	width:40px;
	height:20px;
	line-height:20px;
	float:right;
	margin-top:0.2rem;
	background:#e9a81d;
	color:#fff;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0.05rem;
}
@media (min-device-width:320px) and (max-device-width:374px){   
	.menu {
		font-size:14px;
	}   
	.cards_list ul li .involved>img{
		display:none;
	}
	.cards_list ul li .involved .inven{
		display:none;
	}
	.cards_list ul li .title{
		margin-bottom:0.5rem;
	}
	.cards_list ul li .involved .none{
		margin-left:0;
	}
	.support .intro span{
		width:5rem;
	}
	.d_comments li .name{
		margin-top:0;
	}
}
@media (min-device-width:414px) {
	.cards_list ul li .title{
		margin-bottom:0.8rem;
	}
}