html, body {
    width:7.5rem;	
	height:13.34rem;
    font-family: Arial,Helvetica,'Hiragino Sans GB','Microsoft YaHei',sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #2b2b2b ;
}
body{	
	overflow-x:hidden;
	position:relative;
	background:url('../img/qr_bg.png') no-repeat;
	background-size:7.5rem 13.34rem;
	
}
.clearfix:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
ul,li.ol,dl,dd{
    list-style: none;
    padding: 0;
    margin: 0;
}
a:hover, a:visited, a:link, a:active{
	text-decoration: none;
	color:#4a4a4a;
}
input[type='text'],input[type='tel']{
	 -webkit-appearance: none;
}
.wrap{
	width:5.35rem;
	margin:0 auto;
	padding-top:5.9rem;
}
.wrap form>div{
	margin-bottom:0.25rem;
}
.input_group{
	display: flex; 
	flex-flow: row nowrap;
}
input{
	outline:none;
}
input:focus{
	border-color: #f9cc46;
    box-shadow: 0 0 10px #f9cc46;
}

.input_group p{
	margin-bottom:0;

}
.title{
	font-size:14px;
	line-height:30px;
	height:30px;
	margin-bottom:0;
}
.wrap .error{
	width:5.35rem;
	height:24px;
	line-height:24px;
	color:red;
	font-size:10px;
	position: relative;
}
.wrap .error i{
	position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 0px;
    color: red;
}
.input_group input{
	flex:1;
	height:30px;
	padding:7px 0 7px 10px;
	line-height:14px;
	box-sizing: border-box;
	border:1px solid #f0f0f0;
	font-size:14px;
}
.input_group .age{
	display:flex;
	flex-flow: row nowrap;
}
.input_group .age input{
	width:1.2rem;
	margin-right:0.8rem;
	padding:7px 0 7px 5px;
	line-height:14px;
	font-size:14px;
}
.input_group .sex{
	display:flex;
	flex-flow: row nowrap;
	height:30px;
	line-height:30px;
}
.input_group .sex input{
	margin-top:0;
	margin-right:3px;
	padding:7px 0 7px 5px;
	line-height:14px;
	font-size:14px;
}
.input_group .sex input:last-child{
	margin-left:10px;
}
.input_group .sex input[checked='checked']{
	color:#e9a81d;
}
.check{
	display:flex;
	flex-flow: row nowrap;
}
.check>div{
	position: relative;
}
.check .door{
	position: absolute;
	width:105px;
	height:30px;
	left:0;
	top:0;
	z-index: 2;
	display:none;
}
.check input[type='tel']{
	width:1.5rem;
	margin-right:30px;
	height:30px;
	padding:7px 0 7px 5px;
	line-height:14px;
	font-size:14px;
	box-sizing: border-box;
	border:1px solid #f0f0f0;
}
.check .send{
	width:105px!important;
	box-sizing: border-box;
	height:30px;
	line-height: 30px;
	border:1px solid #f0f0f0;
	outline: none;
	padding:0;
}
.check .send:disabled{
	color:#f9f9f9;
	background:#333;
}
.check .send:disabled+div{
	display:block;
}
.submit  {
	text-align: center;
	width:100%;
	margin-top:10px;
	margin-bottom:0;
	margin-top:0;
}
.submit img{
	width:1.8rem;
	
}
@media (max-device-width:413px){
	.name input{
		width:2rem;
	}
	.input_group .age input{
		margin-right:0.4rem;		
	}
	.check input[type='tel']{
		width:1.5rem;
		margin-right:10px;
	}
}